/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


html {
    background-color: #fafafa;
    color: rgba(0,0,0,.87);
}

*{
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.mat-radio-label-content{
    white-space: normal;

}

