<h1>Study. <img src="assets/logo.png" />. Laugh. Eat. Repeat</h1>
<a routerLink="/study" routerLinkActive="active" mat-raised-button ><i class="material-icons">book</i>Study</a>
&nbsp;
<a routerLink="/admin" routerLinkActive="active" mat-raised-button ><i class="material-icons">settings</i>Admin</a>
<hr>
<p>Select a set of fun questions below</p>
<router-outlet></router-outlet>
<div style="display: none">Icons made by <a href="https://www.flaticon.com/authors/twitter" title="Twitter">Twitter</a>
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>