 .selection {
   width: 100%;
   text-align: left;
   margin-bottom: 3px;
   margin-top: 3px;
 }

 .question-set {
   margin: 1%;
   color: rgba(0, 0, 0, .57);

 }

 .question-card {
   margin-bottom: 6px;
 }
