
<mat-card class="question-card"  *ngFor="let set of questionSets" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><i class="material-icons">gesture</i></div>
      <mat-card-title>{{set.heading}}</mat-card-title>
      <mat-card-subtitle *ngIf="set.questions.length > 1">{{set.questions.length}} questions</mat-card-subtitle>
      <mat-card-subtitle *ngIf="set.questions.length == 1">1 question</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Question for enjoyment
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button  (click)="deleteSet(set)">DELETE</button>
      <button mat-button  (click)="selectSet(set)" >EDIT</button>
    </mat-card-actions>
</mat-card>
  
