<div *ngIf="questionSet === null; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <see-admin-question-selector [contextColour]="'warn'" [questionSets]="questionSets" (selectQuestionSet)='onSelectQuestionSet($event)'
    class="question-viewer">
  </see-admin-question-selector>
  <div class="float-button-container">
    <button mat-fab (click)="addNewQuestionSet()"><i class="material-icons">add</i></button>
  </div>
</ng-template>
<ng-template #elseBlock>
  <see-question-editor [questionSet]="questionSet" (closeQuestionEditor)='onCloseQuestionEditor($event)' class="question-editor">
  </see-question-editor>
</ng-template>

