<see-question-editor *ngIf="questionSet !== null" [questionSet]="questionSet" (closeQuestionEditor)='onCloseQuestionEditor($event)'
  class="question-viewer">
</see-question-editor>
<see-question-selector *ngIf="questionSet === null" [contextColour]="'warn'" [questionSets]="questionSets" (selectQuestionSet)='onSelectQuestionSet($event)'
  class="question-viewer">
</see-question-selector>
<div class="float-button-container" *ngIf="questionSet === null" >
  <button mat-fab  (click)="addNewQuestionSet()"><i class="material-icons">add</i></button>
</div>
 