<div class="admin-container">
  <label>Question set heading:</label>&nbsp;&nbsp;<input [(ngModel)]="questionSet.heading" style="width: 100%;" />
  <mat-toolbar>
    <button mat-raised-button color="warn" (click)="add()">Add</button>
    &nbsp;
    <button mat-raised-button color="warn" (click)="delete()">Delete</button>
    &nbsp;
    <button mat-raised-button color="warn" (click)="previous()">Previous</button>
    &nbsp;
    <button mat-raised-button color="warn" (click)="next()">Next</button>
    &nbsp;
    <button mat-raised-button color="warn" (click)="close()">Close</button>
  </mat-toolbar>

  <textarea [(ngModel)]="question.text"></textarea>
  <div>{{currentQuestionIndex+1}}/{{questionSet.questions.length}}</div>
  <p>
    Right answer is the first one in the list.
  </p>
  <textarea [(ngModel)]="question.choiceLines"></textarea>
</div>
