<div class="question-viewer-content" *ngIf="state!== 'finished'">
  <mat-progress-bar *ngIf="state !== 'finished'" mode="determinate" [value]="questionProgress"></mat-progress-bar>
  <h2 class="question-set">{{question.text}}</h2>
  <mat-card *ngIf="question !== undefined && question !== null">
    <mat-card-content>
      <mat-radio-group [required]="false" *ngIf="state !== 'checked'" class="question-radio-group" [(ngModel)]="selectedChoice">
        <mat-radio-button class="question-radio-button" (click)="selectChoice()" *ngFor="let choice of question.choices" [value]="choice">
          {{choice}}
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group *ngIf="state === 'checked'" disabled="true" class="question-radio-group" [(ngModel)]="selectedChoice">
        <mat-radio-button class="question-radio-button" *ngFor="let choice of question.choices" [value]="choice">
          {{choice}}
        </mat-radio-button>
      </mat-radio-group>

    </mat-card-content>
  </mat-card>
  <mat-card class="question-result-pane" [ngClass]="barStyle">
    <mat-card-content>
      <div [ngSwitch]="state">
        <button *ngSwitchCase="'unanswered'" mat-raised-button disabled=true>Check</button>
        <button *ngSwitchCase="'answered'" mat-raised-button class="bar-button-correct" (click)="check()">Check</button>
        <ng-container *ngSwitchCase="'checked'">
          <span *ngIf="isLast; then closeBlock else nextBlock"></span>
          <ng-template #closeBlock>
            <button mat-raised-button [ngClass]="barButtonStyle" mat-button (click)="finish()">Finish</button>
          </ng-template>
          <ng-template #nextBlock>
            <button mat-raised-button [ngClass]="barButtonStyle" mat-button (click)="loadQuestion()">Next</button>
          </ng-template>
          &nbsp;&nbsp;
          <ng-container *ngIf="isCorrect; then thenBlock else elseBlock"></ng-container>
          <ng-template #thenBlock>
            <span class="question-explanation-result">Correct</span>
          </ng-template>
          <ng-template #elseBlock>
            <span class="question-explanation-result">Wrong</span>
          </ng-template>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="question-viewer-content" *ngIf="state === 'finished'">
  <h1 class="question-set">Hoorahh...! you have completed the {{questionSet.heading}} questions</h1>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="question">Thank you</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      You got {{correct}} correct out of {{numberOfQuestions}} questions
    </mat-card-content>
  </mat-card>
  <mat-card class="question-result-pane">
    <mat-card-content>
      <div>
        <button mat-raised-button class="bar-button-correct" (click)="close()">Close</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>