 .selection {
   width: 100%;
   text-align: left;
   margin-bottom: 3px;
   margin-top: 3px;
 }

 .question-set {
   margin: 1%;
 }

 .set-heading
 {
   font-size: 1.1em;
 }

 .question-card {
   margin-bottom: 6px;
   padding-bottom: 2px;
 }

.see-button{
  line-height:  1.0em;
  padding-left: 2px;
}
