<h2 class="question-set">
    <audio  #audioOption controls>
        <source src="{{question.choices[2]}}" type="audio/mp3">
        <p>Your browser doesn't support HTML5 audio. Here is a <a href="question.choices[2]">link to the audio</a> instead.</p> 
      </audio>
</h2>
<mat-card *ngIf="question !== undefined && question !== null">
  <mat-card-content>
     {{question.choices[1]}}
  </mat-card-content>
</mat-card>
<input autocomplete="off" matInput placeholder="user types answer" [(ngModel)]="selectedChoice" #box (keyup)="textInputChanged(box.value)"  />
