<div class="question-viewer-content" *ngIf="state!== 'finished'">
  <mat-progress-bar *ngIf="state !== 'finished'" mode="determinate" [value]="questionProgress"></mat-progress-bar>

  <ng-container *ngIf="isSpelling(question.text); then spelling; else choice">
    [selectedChoice]="selectedChoice" 
  </ng-container>

  <ng-template #spelling>
    <see-question-viewer-spelling [question]="question" (answered)="onQuestionAnswered($event)"></see-question-viewer-spelling>
  </ng-template>
  <ng-template #choice>
      <see-question-viewer-choice [question]="question" (answered)="onQuestionAnswered($event)" ></see-question-viewer-choice>
    </ng-template>

  <mat-card class="question-result-pane" [ngClass]="barStyle">
    <mat-card-content>
      <div [ngSwitch]="state">
        <button *ngSwitchCase="'unanswered'" mat-raised-button disabled=true>Check</button>
        <button *ngSwitchCase="'answered'" mat-raised-button class="bar-button-correct" (click)="check()">Check</button>
        <ng-container *ngSwitchCase="'checked'">
          <span *ngIf="isLast; then closeBlock else nextBlock"></span>
          <ng-template #closeBlock>
            <button mat-raised-button [ngClass]="barButtonStyle" mat-raised-button (click)="finish()">Finish</button>
          </ng-template>
          <ng-template #nextBlock>
            <button mat-raised-button [ngClass]="barButtonStyle" mat-raised-button
              (click)="loadQuestion()">Next</button>
          </ng-template>
          &nbsp;&nbsp;
          <ng-container *ngIf="isCorrect; then thenBlock else elseBlock"></ng-container>
          <ng-template #thenBlock>
            <span class="question-explanation-result">Correct</span>
          </ng-template>
          <ng-template #elseBlock>
            <span class="question-explanation-result">Wrong</span>
          </ng-template>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="question-viewer-content" *ngIf="state === 'finished'">
  <mat-card class="question-result-pane">
    <mat-card-content>
      <see-question-finish [correct]="correct" [numberOfQuestions]="numberOfQuestions"
        [questionSetHeading]="questionSet.heading">
      </see-question-finish>
      <div class="question-result-pane-buttons">
        <button mat-raised-button class="bar-button-correct" (click)="close()">Close</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
