
.question-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.question-radio-button {
  margin: 10px;
}

.question-result-pane-buttons
{
  margin-top: 5px;
}

 
.question-viewer-content {
   margin-left:10% !important;
   margin-right:10% !important;
}

.bar-correct
{
  background-color:  #defabb;
  color: #008b00;
}

.bar-wrong
{
  background-color:  #FFEBEE;
  color: #B71C1C;
}

.bar-unanswered
{
  color :  #fafafa;
  background-color: #212121;
}

.bar-button-correct
{
   color:  #defabb;
   background-color: #008b00;
}

.bar-button-wrong
{
  color:  #FFEBEE;
   background-color: #B71C1C;
}

.bar-button-unanswered
{
  color:  #fafafa;
  background-color: #212121;
}